<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% @movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <h2 class="select_title">Add the movie to a playlist</h2>

  <div class="field">
    <%= f.select(
      :playlist_id,
      options_from_collection_for_select(@playlists, :id, :title)
    ) %>
  </div>

  <div class="hidden">
    <div class="field">
      <%= f.text_field :title, :value => '{{title}}' %>
    </div>
    <div class="field">
      <%= f.text_field :thumbnail, :value => 'd3gtl9l2a4fn1j.cloudfront.net/t/p/w154{{poster_path}}' %>
    </div>
    <div class="field">
      <%= f.label :mov_id %><br>
      <%= f.number_field :mov_id, :value => '{{id}}'%>
    </div>
  </div>
  <div class="actions submitBtn">
    <%= f.submit :value => "Add Movie To Playlist" %>
  </div>
<% end %>
