
<% if @likes.count ==  0 && @reviews.count == 0 && @playlists.count == 0 %>
  <h4><%= @user.username %> currently has an account but hasn't liked, reviewed, or made any playlists.</h4>
<% end %>
<div class="profile clearfix">
<% if @likes.count > 0 %>
  <div class="user-likes">
  <h5><%= @user.username.pluralize %> Likes </h5>
  <ol>
  <% @likes.each_with_index do |like, index| %>
    <!-- omg this is so so bad... fix this -->
    <li>
      <%= link_to Movie.find(like.movie_id).title, movie_path(like.movie_id) %>
    </li>
  <% end %>
  </ol>
  </div>
<% end %>


<% if @reviews.count > 0 %>
  <div class="user-reviews">
   <h5><%= @user.username.pluralize %> Reviews</h5>
  <ol>
    <% @reviews.each_with_index do |review, index| %>
      <li><%= link_to Movie.find(review.movie_id).title, movie_path(review.movie_id) %></li>
    <% end %>
  </ol>
  </div>
<% end %>

</div>


<div class="profile clearfix">
  <% if @playlists.count > 0 %>
    <div class="user-playlists">
      <h5> <%= @user.username.pluralize %> Playlists</h5>
      <ol>
        <% @playlists.each_with_index do |playlist, index| %>
          <li><%= link_to playlist.title, playlist_path(playlist.id) %></li>
        <% end %>
      </ol>
    </div>
  <% end %>


  <div class="amazon-ad">
    <div class="alignleft">  
<script type='text/javascript'>
 amzn_assoc_ad_type = 'banner';
 amzn_assoc_tracking_id = 'moyoli-20';
 amzn_assoc_marketplace = 'amazon';
 amzn_assoc_region = 'US';
 amzn_assoc_placement = 'assoc_banner_placement_default';
 amzn_assoc_linkid = 'QEUVR5GV6VJ7CFL7';
 amzn_assoc_campaigns = 'dvd';
 amzn_assoc_p = '12';
 amzn_assoc_banner_type = 'category';
 amzn_assoc_isresponsive = 'false';
 amzn_assoc_banner_id = '14P4X3647W5MZMZWK582';
 amzn_assoc_width = '300';
 amzn_assoc_height = '250';
</script>
<script src='//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1'></script>
</div>

  </div>


</div>
