<section class="logged_bar">

	<% if user_signed_in? %>
    <%= link_to 'Home', root_path %> |
	  <%= link_to current_user.email, edit_user_registration_path, {:class => 'edit-profile'} %> |
	  <%= link_to 'Your Playlists', playlists_path %> |
	  <%= link_to 'Create A Playlists', new_playlist_path %> |
	  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
	<% else %>
    <%= link_to 'Home', root_path %> |
	  <%= link_to "Sign up", new_user_registration_path %> |
	  <%= link_to "Login", new_user_session_path %>
	<% end %>
	<br />
	<% if notice   %>
		<p class="notice"> <%= notice %> </p>
	<% end %>
	<% if alert   %>
	  <p class="alert"><%= alert %></p>
	<% end %>
</section>

<script type="text/javascript"><!--
amazon_ad_tag = "moyoli-20"; amazon_ad_width = "728"; amazon_ad_height = "90"; amazon_ad_logo = "hide"; amazon_ad_link_target = "new"; amazon_ad_price = "retail"; amazon_ad_border = "hide";//--></script>
<script type="text/javascript" src="http://ir-na.amazon-adsystem.com/s/ads.js"></script>
