<h2 class="playlist-title"><%= @playlist.title %> Playlist</h2>
<% if @playlist.about_playlist %>
<p><%= @playlist.about_playlist %></p>
<% end %>

<h4>Share Your Playlist with Friends</h4>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "54b01a15-1b86-434c-ab33-b36e0ba730d5", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

<p id="notice"><%= notice %></p>

<span class='st_facebook_hcount' displayText='Facebook'></span>
<span class='st_fblike_hcount' displayText='Facebook Like'></span>
<span class='st_twitter_hcount' displayText='Tweet'></span>
<span class='st_linkedin_hcount' displayText='LinkedIn'></span>
<span class='st_pinterest_hcount' displayText='Pinterest'></span>
<span class='st_email_hcount' displayText='Email'></span>

<p>
  <% if user_signed_in? %>
    <% if current_user.id == @playlist_author %>
      <%= link_to 'Edit | ', edit_playlist_path(@playlist) %>
    <% end %>
    <%= link_to 'Back To Playlists', playlists_path %>
  <% end %>
</p>

<ul class="results clearfix">
<% @movies.each do |movie| %>


	<li class="left">
    	<a href="/static/view?movieID=<%=movie.mov_id%>" class="clearfix">
        <h4 class="movie-title"><%= movie.title %></h4>
        <%= image_tag("http://#{movie.thumbnail}", class: "left") %>
        </a>
        <div class="playlist-delete">
          <%= link_to 'Delete Movie', movie, method: :delete, data: { confirm: 'Are you sure?' }  if user_signed_in? && current_user.id == @playlist_author %>
        </div>
    </li>


<% end %>
</ul>

