<p id="notice"><%= notice %></p>

<h3 class="playlist-title"><%= @playlist.title %> Playlist</h3>
<p>
  <%= link_to 'Edit | ', edit_playlist_path(@playlist)  if user_signed_in? %>
  <%= link_to 'Back To Playlists', playlists_path %>
</p>


<ul class="results clearfix">
<% @movies.each do |movie| %>
 
                        
	<li class="left">
    	<a href="/static/view?movieID=<%=movie.mov_id%>" class="clearfix">
        <h4 class="movie-title"><%= movie.title %></h4>
        <%= image_tag("http://#{movie.thumbnail}", class: "left") %>
        </a>

        <div class="playlist-delete">
          <%= link_to 'Delete Movie', movie, method: :delete, data: { confirm: 'Are you sure?' }  if user_signed_in? %>
        </div>
    </li>
  
  
<% end %>
</ul>

