<!DOCTYPE html>
<html>
<head>
  <title>MoviesYouLike</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">

<%= render 'shared/top' %>

<div class="wrapper small-wrapper drop-shadow">
  <%= yield %>
</div>

</div><!--//application-wrapper-->


        <footer>&copy; Copyright 2013 created by <a target="_blank" href="http://jeffAwesome.com">Jeff Richardson</a> | All Rights Reserved | Data coming from <a href="http://www.themoviedb.org" target="_blank">The Moviedb.org</a></footer>

</body>
</html>
