<!DOCTYPE html>
<html>
<head>
  <title>MoviesYouLike</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">

<%= render 'shared/top' %>

<div class="wrapper small-wrapper drop-shadow">
  <%= yield %>
</div>

</div><!--//application-wrapper-->


        <footer>&copy; Copyright 2013 created by <a target="_blank" href="http://jeffAwesome.com">Jeff Richardson</a> | All Rights Reserved | Data coming from <a href="http://www.themoviedb.org" target="_blank">The Moviedb.org</a></footer>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
          <script type="text/javascript">

  var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39170239-1']);
      _gaq.push(['_trackPageview']);

        (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                 ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
                     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                       })();

  </script>


</body>
</html>
